@model IEnumerable<DataLayer.Models.Domain.User>;

    @{
        ViewData["Title"] = "Users";
    }

<div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Add User</a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>